@model IEnumerable<PABP_2_V3.Products>

@{
    ViewBag.Title = "ReturnProductsForSuppliersAndCategories";
}
<br>
<h2>Odaberite dobavljaca i kategoriju:</h2>
<form method="get">
    Suppliers:<br>
    <select name="kompanija">
        @foreach (var item in ViewBag.Suppliers)
        {
            <option value="@item.CompanyName"> @item.CompanyName </option>
        }
    </select>
    <br>
    Category:<br>
    <select name="kategorija">
        @foreach (var item in ViewBag.Categories)
        {
            <option value="@item.CategoryName"> @item.CategoryName </option>
        }
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form> 

<h2>Pronadjeni proizvodi za izabranog dobavljaca i kategoriju</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suppliers.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsOnOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReorderLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discontinued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suppliers.CompanyName)
        </td>
    </tr>
}

</table>
