@model IEnumerable<PABP_2_V3.CustomerDemographics>

@{
    ViewBag.Title = "Index";
}

<h2>Kupac demografija link</h2>

<form method="get">
    Customer Demographics:<br>
    <select name="DemographicsSelection">
        @foreach (var item in ViewBag.CustomerDemographics)
        {
            <option value="@item.CustomerTypeID"> @item.CustomerDesc </option>
        }
    </select>
    <br>
    Customer:<br>
    <select name="CustomerSelection">
        @foreach (var item in ViewBag.Customers)
        {
            <option value="@item.CustomerID"> @item.CompanyName </option>
        }
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form> 
<br><br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerDesc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        foreach (var item2 in item.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item2.CompanyName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CustomerDesc)
                </td>

                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerTypeID })
                </td>
            </tr>
        }

    }

</table>
